.gitattributes
*.o
*.so
*.dll
*.a
*.lib
*.bak
client_*
server_*
out
*~
.directory
.DS_Store
*.orig
src/build/
src/platform_windows/
bin_win*/LICENSE*
*.core
*.diff
*.patch
*.out
xcuserdata/
octaforge.xcworkspace/
*.xcuserstate
